# Security and Environment
.env
.env.local
.env.*.local
*.pem

# IDE - Visual Studio Code
.vscode/

# IDE - IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Gradle and Build Output
.gradle/
build/
spring-server/.gradle/
spring-server/build/
spring-server/bin/


# Keep Gradle Wrapper jar
!**/gradle/wrapper/gradle-wrapper.jar

# Frontend
node_modules/
dist/
.cache/

# System Files
.DS_Store
Thumbs.db